.introduction {
    align-items: center;
}

.introduction .introduction-description h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introduction .introduction-description h1::before {
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url('../assets/images/svg/detalhe.svg') no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.introduction .introduction-description p {
    font-size: 1.5rem;
    color: var(--C10);
}

@media (max-width: 1000px) {
    .introduction .introduction-description h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introduction {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introduction .introduction-description h1 {
        font-size: 2rem;
    }

    .introduction .introduction-description h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 400px) {
    .introduction {
        grid-template-columns: 1fr;
    }
    
    .introduction img {
        display: none;
    }
}